#logs
logs/

#output files
Output/
packmol_input_files/

#datafiles
MDToolkit/data/pdb_files/*
MDToolkit/data/cif_files/*
MDToolkit/data/xyz_files/*

#misc env files
.*
!.gitignore
uv.*

./__pycache__/
*/__pycache__/
*/*/__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
