#logs
logs/

#output files
Output/

#datafiles
MDToolkit/data/common_pdb_files/*
MDToolkit/data/my_pdb_files/*
MDToolkit/data/cif_files/*

#misc env files
.*
!.gitignore
uv.*

./__pycache__/
*/__pycache__/
*/*/__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
